.myself-mouseover-selected{
    border: 1px solid blue;
}
.crawler-result-show {
	position: fixed;
    min-width: 300px;
    min-height: 200px;
    z-index: 999;
	right: 5%;
	bottom: 5%;
	background: #fafafa;
	padding: 10px;
    box-shadow: 0px 0px 10px #002761;
    border-radius: 3px;
    color: black;
    overflow:scroll;
}
