.myself-mouseover-selected{
    border: 1px solid blue;
}
.crawler-result-show {
	position: fixed;
    min-width: 300px;
    min-height: 200px;
    z-index: 9999999;
	right: 5%;
	bottom: 5%;
	background: #fafafa;
	padding: 10px;
    box-shadow: 0px 0px 10px #002761;
    border-radius: 3px;
    color: black;
}
.self-header{
    padding-bottom: 8px;
    border-bottom: 1px dashed #333;
    margin-bottom: 8px;
}
.self-content{
    margin-bottom: 32px;
}
.self-content a{
    color: blue;
}
.self-content .self-res-div{
    overflow: auto;
    border: 1px solid #dddddd;
    padding: 8px;
}
.self-content .self-res-div td{
    border-bottom: 1px dashed #ccc;
    padding: 4px
}
.self-content .self-res-div td:first-child{
    border-right: 1px solid #ccc;
}
.self-footer{
    width: 95%;
    position: absolute;
    bottom: 8px;
    text-align: center;
}
.self-footer button{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid #2d8cf0;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color .2s linear,background-color .2s linear,border .2s linear,box-shadow .2s linear;
    vertical-align: middle;
    line-height: 1.5;
    padding: 1px 7px 2px;
    font-size: 12px;
    border-radius: 3px;
    color: #fff;
    background-color: #2d8cf0;
}


